
# Playwright
node_modules/
.env
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.appointments.spec.ts
.appointments-01.spec.ts
.booking.spec.ts
.booking01.spec.ts
.clinic-navigation.spec.ts
.clinic-navigation01.spec.ts